DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me

POSTGRES_DB=brands
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

BRANDS_POLL_SECONDS=2
REDIS_URL=redis://127.0.0.1:6379/0

KABOOM77_DOMAIN=https://kaboom77.com
KABOOM77_ACCESS_ID=
KABOOM77_TOKEN=
KABOOM77_MERCHANT_ID=10051

FF29_DOMAIN=https://ff29.co
FF29_ACCESS_ID=
FF29_TOKEN=
FF29_MERCHANT_ID=30526

CUNTWIN_DOMAIN=https://cuntwin.com
CUNTWIN_ACCESS_ID=
CUNTWIN_TOKEN=
CUNTWIN_MERCHANT_ID=10364

MATE29_DOMAIN=https://mate29.com
MATE29_ACCESS_ID=
MATE29_TOKEN=
MATE29_MERCHANT_ID=30527

BETCLUB6_DOMAIN=https://betclub6.net
BETCLUB6_ACCESS_ID=
BETCLUB6_TOKEN=
BETCLUB6_MERCHANT_ID=60267

SPINOO_DOMAIN=https://spinoo.net
SPINOO_ACCESS_ID=
SPINOO_TOKEN=
SPINOO_MERCHANT_ID=60732

COKESPIN_DOMAIN=https://cokespin.com
COKESPIN_ACCESS_ID=
COKESPIN_TOKEN=
COKESPIN_MERCHANT_ID=60733
